<!-- prediction_form.html -->
{% extends 'main.html' %}
{% block title %}Predict{% endblock title %}
{% block content %}
<div class="container prediction-container">
    <h2 class="my-2 mb-4">Prediction Form</h2>
    <form method="post" action="">
        {% csrf_token %}
        <h4 class="mb-3">Bio Data</h4>
        <!-- gender -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label">Gender:</label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="gender" value="male"> Male
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="gender" value="female"> Female
            </label>
        </div>
        <!-- age -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label w-40">Age:</label>
            <input type="number" class="form-control w-25" name="age" required>
        </div>
        <!-- height -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label w-40">Height in m:</label>
            <input type="number" step="0.01" min="0" class="form-control w-25" name="height" required>
        </div>
        <!-- weight -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label w-40">Weight in kg:</label>
            <input type="text" class="form-control w-25" name="weight" required>
        </div>
        <h4 class="mb-3">Living Conditions: </h4>
        <!-- smoking status -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label">Smoking Status:</label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="smoking_status" value="never">Never Smoked
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="smoking_status" value="formerly">Smoked Formerly
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="smoking_status" value="smokes">Currently Smokes
            </label>
        </div>
        <!-- Marital status -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label">Marital Status:</label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="ever_married" value="yes">Yes
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="ever_married" value="no"> No
            </label>
        </div>
        <!-- work_type -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label">Work Type:</label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="work_type" value="children">Children
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="work_type" value="private">Private
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="work_type" value="never_worked">Never Worked
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="work_type" value="self-employed">Self-Employed
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="work_type" value="govt_job">Govt Job
            </label>
        </div>
        <!-- Residence_type -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label">Residence Type:</label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="residence_type" value="rural">Rural
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="residence_type" value="urban">Urban
            </label>
        </div>
        <h4 class="mb-3">Health conditions</h4>
        <!-- average glucose level -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label w-40">Average Blood Glucose level: </label>
            <input type="number" class="form-control w-25" name="avg-glucose-lvl" required>
        </div>
        <!-- heart disease -->
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label">Any Heart Disease?</label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="heart-disease" value="yes">Yes
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="heart-disease" value="no">No
            </label>
        </div>
        <div class="my-2 d-flex flex-row flex-wrap">
            <label class="form-label">Hypertension</label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="hypertension" value="yes">Yes
            </label>
            <label class="btn btn-outline-primary mx-1" style="width: 150px">
                <input type="radio" name="hypertension" value="no">No
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {% if result != None %}
        {% if result == 1 %}
        <div class="btn btn-danger">You are susceptible to Cerebral Stroke</div>
        <div class="mt-4">
            <h3>Healthy Lifestyle Tips</h3>
            <ul>
                <li>Include fruits and vegetables in your daily diet.</li>
                <li>Engage in regular physical activity, such as walking or jogging.</li>
                <li>Maintain a healthy weight through a balanced diet and exercise.</li>
                <li>Avoid excessive alcohol consumption.</li>
                <li>Quit smoking or avoid exposure to secondhand smoke.</li>
                <li>Monitor and manage stress through relaxation techniques.</li>
                <li>Keep blood pressure and cholesterol levels in check.</li>
                <li>Stay hydrated by drinking an adequate amount of water.</li>
                <li>Get sufficient quality sleep each night.</li>
            </ul>
        </div>

        {% else %}
        <div class="btn btn-success">You are not susceptible to Cerebral Stroke</div>
        {% endif %}
        {% endif %}
    </form>
</div>
{% endblock %}